
body {
  /* background: #fff8d3; */
	/* max-width: 1100px; */
	/* margin: 0 auto 1em auto; */
}

input, select {
	float: left;
	font-size: 100%;
	/* -webkit-appearance: none; */
	height: 2em;
	padding: 0.2rem .2em ;
	margin: 0.5rem 0.7rem 0 0;
	margin-left: -5px;
}
.standardCardWidth{
	width: 12rem;
	border: 1px solid #aaa;
}

ul {
	margin: 0 0 0 -0.5em;
	padding: 0;
	clear: both;
  overflow: hidden;
}
li {
	list-style: none;
	float: left;
	/* text-align: center; */
	margin: 1em 0.5em;
}
.images_grid {
	-webkit-transition: all ease 600ms 0s;
	transition: all ease 600ms 0s;
	-webkit-transform: translate(1600px,0); /* scale(0) */;
	transform: translate(1600px,0); /* transform >=ie9 scale(0) */;
	opacity: 0;
}
